.productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.productItem {
    position: relative;
}

.productItem div {
    display: none;
}

.productItem:hover div {
    display: block;
    position: absolute;
    top: 282px;
    left: 30%;
}

.productItem:hover div a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #1a1a1a;
    color: #fff;
    font-weight: 700;
}

.productItem:hover div a:hover {
    background-color: #af052d;
}
